import React from 'react'
import ReactDOM from 'react-dom'

function mount(el) {
  ReactDOM.render(<div>{{applicationName}} works</div>, el)
}

if (process.env.NODE_ENV === 'development') {
  const el = document.querySelector('#dev-{{applicationName}}')

  el && mount(el)
}

export { mount }